---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { CV_DATA } from "@/cv-data";
---

<PageLayout title="About" description="About Liam Tabibzadeh">
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        About
      </div>
      
      <section class="animate space-y-4">
        <article>
          <p class="text-base leading-relaxed">
            {CV_DATA.about}
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <h2 class="font-semibold text-black dark:text-white">
          Education
        </h2>
        <ul class="flex flex-col space-y-4">
          {CV_DATA.education.map(entry => (
            <li>
              <div class="font-semibold text-black dark:text-white">
                {entry.degree}
              </div>
              <div class="text-sm opacity-75">
                {entry.institution}
              </div>
              <div class="text-sm opacity-75">
                {entry.duration}
              </div>
              {entry.skills && (
                <div class="text-sm opacity-75 mt-2">
                  <strong>Related skills:</strong> {entry.skills.join(", ")}
                </div>
              )}
            </li>
          ))}
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>